$preconst: hello;

@mixin premixin {pre-mixin: here}

@import "importee";
@import "scss_importee";
@import "basic";
@import "basic.css";
@import "../results/complex.css";
@import "partial";

nonimported {
  myconst: $preconst;
  otherconst: $postconst;
  @include postmixin; }
