
.subscribe-holder .wpb_button {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.isp_spinner { margin: 0 5px; }

.ips_error_addr_mail {
	display: inline-block;
	vertical-align: middle;
}