 /**
 * CodeNegar wordPress AJAX AutoSuggest styles
 *
 * @version    	1.0
 */

 .widget_codenegar_ajax_search {
	 overflow: hidden;
	 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.10);
	 		 box-shadow: 0 1px 1px rgba(0,0,0,.10);
 }

	.codenegar_ajax_search_wrapper {
		position: relative;
		padding: 23px 20px 25px;
		background-color: #fff;

		-webkit-border-radius: 4px;
				border-radius: 4px;
	}

		input[type="text"].ajax_autosuggest_input {
			width: 60% !important;
			width: calc(100% - 45px) !important;
		}

		.ajax_autosuggest_indicator {
			background: url('../images/indicator.gif') no-repeat scroll 95% 50% !important;
		}

		.ajax_autosuggest_submit {
			display: inline-block !important;
			vertical-align: top;
			width: 40px;
			height: 40px;
			background-color: #e2e6e7;
			font-size: 0;
			line-height: 40px;

			-webkit-border-radius: 4px;
					border-radius: 4px;
			-webkit-box-shadow: 0 2px 0 #bdc3c7;
					box-shadow: 0 2px 0 #bdc3c7;
			-webkit-transition: background-color .3s ease;
					transition: background-color .3s ease;
		}

		 .ajax_autosuggest_submit:hover  { background-color: #34495e; }
		 .ajax_autosuggest_submit:before {
			 color: #292f38;

			 -webkit-transition: color .3s ease;
			 		transition: color .3s ease;
		 }
		 .ajax_autosuggest_submit:hover:before { color: #fff; }

		 .ajax_autosuggest_submit:after {
			 font-family: 'fontawesome';
			 font-size: 20px;
			 content: "\f002";
			 color: #292f38;

			 -webkit-transition: color .3s ease;
			 		transition: color .3s ease;
		 }

		 .ajax_autosuggest_submit:hover:after {  color: #fff;  }

.ajax_autosuggest_suggestions {
	background-color: #fff;

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.10);
			box-shadow: 0 1px 1px rgba(0,0,0,.10);
	-webkit-border-radius: 0 0 6px 6px;
			border-radius: 0 0 6px 6px;
}

	.ajax_autosuggest_suggestions li {
		padding: 10px;
		border-top: 1px solid #ecf0f1;
	}

	.ajax_autosuggest_suggestions li:after {
		clear: both;
		display: block;
		visibility: hidden;
		height: 0;
		content: ".";
	}

		.ajax_autosuggest_suggestions li a { color: #292f38; }
		.ajax_autosuggest_suggestions li a:hover { color: #e74c3c; }

			.ajax_autosuggest_suggestions img {
				float: left;
				margin-right: 10px;
				margin-bottom: 5px;
			}

			.ajax_autosuggest_suggestions .searchheading {
				overflow: hidden;
				display: block;
				margin-bottom: 2px;
				line-height: 1.2em;
			}

			.ajax_autosuggest_suggestions .ajax_autosuggest_item_description {
				display: block;
				color: #696e6e;
				font-size: 11px;
				line-height: 15px;
			}