<div class="top-wrapper">
    <div class="top">
        <div class="top-inner">
            {% if not dynamic_sidebar('top') %}{% endif %}
        </div><!-- /.top-inner -->
    </div><!-- /.top -->
</div><!-- /.top-wrapper -->