{% extends 'layout-homepage.twig' %}

{% block content %}
    {% if (page.post_title is not empty) %}
        <h1 class="page-header">{{ page.post_title|raw }}</h1>
    {% endif %}

    {% if content is not empty %}
        <div class="page-content properties-grid-content">
            {{ content|raw }}
        </div>
    {% endif %}

    {% include 'properties/properties-grid.twig' %}
{% endblock %}