$black: #313131;
$black-dark: #1b1b1b;
$black-darker: #000000;

$blue: #54c884;
$blue-light: #419a66;
$blue-medium: #215035;
$blue-dark: #1a402a;
$blue-darker: #02293a;

$gray: #707070;
$gray-dark: #818181;
$gray-medium: #d5d5d5;
$gray-light: #b5b5b5;
$gray-lighter: #f0f0f0;

$white: #ffffff;

@import 'default';