<div class="content-bottom-wrapper">
	<div class="content-bottom">
		<div class="content-bottom-inner">
			{% if not dynamic_sidebar('content-bottom') %}{% endif %}
		</div><!-- /.content-bottom-inner -->
	</div><!-- /.content-bottom -->
</div><!-- /.content-bottom-wrapper -->