{% if wp.get_theme_mod('topbar_breadcrumb_is_hidden') == "" or wp.get_theme_mod('topbar_user_links_is_hidden') == "" %}
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="span12">
                    {# Breadcrumb #}
                    {% if wp.get_theme_mod('topbar_breadcrumb_is_hidden') == "" %}
                        <div class="breadcrumb pull-left">
                            {% if wp.function_exists('bcn_display') %}
                                {{ wp.bcn_display }}
                            {% endif %}
                        </div><!-- /.breadcrumb -->
                    {% endif %}

                    {# User links #}
                    {% if wp.get_theme_mod('topbar_user_links_is_hidden') == "" %}
                        <div class="account pull-right">
                            {% if wp.is_user_logged_in() %}
                                {{ authenticated_menu|raw }}
                            {% else %}
                                {{ anonymous_menu|raw }}
                            {% endif %}                        
                        </div>
                    {% endif %}
                </div><!-- /.span12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb-wrapper -->
{% endif %}