$black: #313131;
$black-dark: #1b1b1b;
$black-darker: #000000;

$blue: #e17862;
$blue-light: #bb6733; 
$blue-medium: #63352b;
$blue-dark: #4f251e;
$blue-darker: #4F1109;

$gray: #707070;
$gray-dark: #818181;
$gray-medium: #d5d5d5;
$gray-light: #b5b5b5;
$gray-lighter: #f0f0f0;

$white: #ffffff;

@import 'default';