This step handles deleting files. In rare instances on some servers you may receive errors loading files or an unstyled page here due to files getting deleting prematurely before the page completes loading. This may safely be ignored. It is common to not be able to delete some files due to permission errors. You may manually delete them. <b>importbuddy.php</b> should always be deleted after restore for best security.

<h3 style="text-align: center;">Your site is ready to go at
<a href="<%=homeurl%>" target="_blank"><b><%=homeurl%></b></a><br><br>
Thank you for choosing BackupBuddy!</h3>


</div></div><br><br><br>