<div class="widget properties properties-sidebar">

    {% for property in properties %}
        <div class="content">
            {% include 'properties/property-sidebar.twig' %}
        </div>
    {% endfor %}
</div><!-- /.properties-sidebar -->