
/* Widgets in Footer
---------------------------------------------------------- */

.meta-option {
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
}

.meta-option:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: ".";
}

	.meta-description {
		display: inline-block;
		color: #555555;
		padding-right: 15px;
		width: 200px;
		border-right: 1px solid #ebebeb;
		float: left;
	}

		.meta-description .heading { margin-top: 0; }

	.meta-controls {
		overflow: hidden;
		padding-left: 15px;
		margin-left: -1px;
	}

		/* Meta Radio Button */

		.meta-radio-button {
			position: relative;
			display: inline-block;
			margin-right: 15px;
			vertical-align: middle;
		}

			.meta-radio-button input[type="radio"] { display: none; }

			.meta-radio-button label {
				padding-left: 32px;
				line-height: 1.8em;
			}

			.meta-radio-button label:before {
				position: absolute;
				left: 0;
				top: 0;
				width: 22px;
				height: 22px;
				vertical-align: middle;
				border: 2px solid #e2e6e7;
				background-color: #f5f7f8;
				content: "";

				-webkit-box-sizing: border-box;
						box-sizing: border-box;
				-webkit-border-radius: 50%;
						border-radius: 50%;
			}

			.meta-radio-button input[type="radio"]:checked + label:after {
				position: absolute;
				left: 6px;
				top: 6px;
				text-align: center;
				width: 10px;
				height: 10px;
				background-color: #292f38;
				content: "";

				-webkit-border-radius: 50%;
						border-radius: 50%;
			}

		/* Meta List Set */

		.meta-list-set > span {
			display: inline-block;
			padding: 4px 0;
			vertical-align: top;
		}

		.meta-list-set ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			vertical-align: top;
		}

			.meta-list-set ul li {
				display: inline-block;
				vertical-align: top;
				margin-right: 10px;
				padding: 4px;
				color: #ccc;
				cursor: pointer;
			}

			.meta-list-set ul li.active {
				color: #000;
				text-decoration: underline;
				font-weight: bold;
			}

		.meta-columns-set {
			margin-bottom: 10px;
			width: 100%;
		}

		.meta-columns-set:after {
			clear: both;
			display: block;
			visibility: hidden;
			height: 0;
			content: ".";
		}

			.meta-columns-set .mod-columns { float: left; }

			.meta-columns-set .mod-grid-2  { width: 16.666666666666664%; }
			.meta-columns-set .mod-grid-3  { width: 25%; }
			.meta-columns-set .mod-grid-4  { width: 33.33333333333333%; }
			.meta-columns-set .mod-grid-6  { width: 50%; }
			.meta-columns-set .mod-grid-12 { width: 100%; }

				.mod-columns {
					margin-left: -1px;
					padding: 10px;
					width: 100%;
					height: auto;
					border: 1px solid #ccc;
					background-color: #f1f1f1;
					color: #000;
					text-align: center;

					-webkit-box-sizing: border-box;
							box-sizing: border-box;
				}

					.mod-columns select { width: 100%; }

