<div class="properties-rows">
    <div class="row">
        {% for property in properties %}
            {% include 'properties/property-row.twig' %}
        {% endfor %}
    </div>
</div><!-- /.properties-sidebar -->